
/* -------------  CSS Loader  ----------- */

/*.overlay{

	position: fixed;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 10;
	opacity: 0.6;
}*/
.loader{

	    border-radius: 50%;

	    animation: spin 1s linear infinite;

	width: 30px;
	height: 30px;

	border:2px solid #333;
	border-top: 2px solid #f4511e;

	position: relative;
	margin: 0 auto;
	top:30%;
	animation:loader 1s linear infinite;
}
.l_comm {
	width: 15px;
	height: 15px;
}
.l_more_posts {
	width: 15px;
	height: 15px;
}
.sugg_post {
	width: 12px;
	height: 12px;
}
@keyframes loader{
	50% {
		opacity: 0.5;
	}
	100% {
		transform:rotate(360deg);
	}
}
/*.loader:after{
	content: "";
    width: 10px;
    height: 10px;
    background: #333;
    position: absolute;
    border-radius: 50%;
    top: -20px;
    left: 55px;
}
.loader:before{
	content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #333;
    position: absolute;
    transform: rotate(-90deg);
    top: -10px;
    left: 39px;

}

/* --------- CSS Loader End Here ------------*/
